{{user-info-input
  firstName=model.firstName
  lastName=model.lastName
  phoneNumber=model.phoneNumber
}}

{{address-input
  addressLine1=model.addressLine1
  addressLine2=model.addressLine2
  zipCode=model.zipCode
}}

<div class="btn-toolbar pull-right">
    <button type="button" {{action 'save'}}>Save</button>
    <button type="button" {{action 'cancel'}}>Cancel</button>
</div>
